{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://sectors",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "1.21.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Sectors": [
        {
          "id": "sector01",
          "name": "sector01",
          "maxUserNo": 16,
          "entries": [
            "map://Ellinia_Boss_Ephenia",
            "map://Ellinia_Hunt_GiantTree",
            "map://Ellinia_Hunt_GreenTreeTrunk",
            "map://Ellinia_Hunt_TreeTrunkNest2",
            "map://Ellinia_Village_MinimiMain",
            "map://Henesys_Boss_Mushmom",
            "map://Henesys_Hunt_BlueMushroomTrail",
            "map://Henesys_Hunt_GolemsTemple",
            "map://Henesys_Hunt_HillNorth",
            "map://Henesys_Village_MinimiMain",
            "map://KerningCity_Boss_KingSlime",
            "map://KerningCity_Hunt_ConstructionSite",
            "map://KerningCity_Hunt_SewerApproach",
            "map://KerningCity_Hunt_SubwayLine1",
            "map://KerningCity_Village_MinimiMain",
            "map://KerningCity_Village_SubwayEntrance",
            "map://LithHarbor_Boss_Mano",
            "map://LithHarbor_Hunt_ForestTrail1",
            "map://LithHarbor_Hunt_PigBeach",
            "map://LithHarbor_Hunt_RightAroundLithHarbor",
            "map://LithHarbor_Village_MinimiMain",
            "map://Nautilus_Boss_Pianus",
            "map://Nautilus_Hunt_PigPasture",
            "map://Nautilus_Hunt_RibbonPigBeach",
            "map://Nautilus_Hunt_WayToBeach",
            "map://Nautilus_Village_MinimiMain",
            "map://Nautilus_Village_MinimiShip",
            "map://Perion_Boss_Stumpy",
            "map://Perion_Hunt_NorthernRidge",
            "map://Perion_Hunt_SouthernRidge",
            "map://Perion_Hunt_WildBoarLand",
            "map://Perion_Village_MinimiMain",
            "map://SixPathCrossway",
            "map://Sleepywood_Village_MinimiMain"
          ]
        }
      ],
      "AllowOverMaxEntryCountPerSector": false,
      "config_id": "config://sectors"
    }
  }
}
