{
  "mcpServers": {
    "msw-maker-mcp": {
      "command": "cmd.exe",
      "args": [
        "/c",
        "call",
        "C:\\Users\\<사용자이름>\\AppData\\Local\\Nexon\\MapleStory Worlds\\MakerMCP\\msw-maker-mcp.bat"
      ]
    },
    "msw-mcp": {
      "type": "http",
      "url": "https://msw-mcp.nexon.com/mcp",
      "headers": {
        "Authorization": "Bearer <여기에-자기-토큰-넣기>"
      }
    }
  }
}
